name: CI Tests

on:
  - push
  - pull_request

jobs:
  test:
    name: Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node-version: [ 22, 23, 24 ]
        os:
          - ubuntu-latest
          - macos-latest
         # - windows-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn install --ignore-engines
      - name: Code quality
        run: yarn biome ci .
      - name: Test
        run: yarn test
